extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Welcome 
            span=user 
            |  to your profile! 
    form(style='display: inline' action="/files/"+ user method='get')
        button.btn-link Files

append links 
    li(style="float: right;")
        a(href="/logout") Loggout 

block content
    .dashboard 
        .user 
            +message(opp, name)